* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    color: #ffffff;
    padding-bottom: 10px;
}

.active a {
    border-bottom: 5px #ffffff solid;
}

header {
    padding-top: 30px;
    min-height: 70px;
    color: #ffffff;
}

.navbar {
    color: #ffffff;
    
    width: 100%
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.logo {
    font-family: cursive;
    font-size: 28px;
    font-weight: bold;
}

nav img {
    width: 100px;
    
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

nav ul li a:hover{
    border-bottom: 5px #ffffff solid;
    border-radius: 2px;
}

nav img {
    padding-right: 30px;
}

.logo:hover{
    background-color: gray;
    border-radius: 10px;
}

.hero {
    min-height: 380px;
    text-align: center;
    
    color: #ffffff;
    width: 80%;
    margin: auto;
    background-image: url(Images/gettyimages-200396749-003-612x612.jpg);
}
    
    .hero p {
    font-size: 75px;
    font-weight: bold;
    box-shadow: #0b1925;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.info {
    width: 80%;
    margin: auto;
}

.vision {
    min-height: 150px;
}

.info h1 {
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.info p {
    font-size: 30px;
}

.info li {
    font-size: 30px;
}

.info a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0b1925;
    border: 10px;
    padding: 10px;
    border-radius: 10px;

}

footer {
    height: 300px;
    background-color: #0b1925;
    color: #ffffff;
    margin-top: 20px; 
    padding-top: 30px;
}

footer p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

footer h1 {
    text-align: center;
    font-size: 40px;
    color: palevioletred;
    font-weight: bolder;
    font-style: italic;
}

.board {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}

.board img {
    width: 250px;
    padding: 10px;
}

.card {
    
    overflow: hidden;
    
}
 .card img {
    border-radius: 20px;
    text-align: center;
 }

 .card p {
    bottom: 300px;
    box-sizing: border-box;
    height: 200px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
 }

 .kikomando {
    width: 80%;
    margin: auto;
 }

 .kikomando img {
    width: 700px;
    align-self: center;
    padding: 20px;

 }

 .kikomando h1 {
    font-size: 40px;
    font-weight: bold;
 }

 .kikomando p {
    font-size: 20px;
    font-weight: bold;
 }

 span {
    font-size: 30px;
    font-weight:  bolder;
 }

a {
    text-decoration: none;
    font-weight: bolder;
    color: aqua;
    font-size: 25px;
 }

 .sorry h1 {
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    height: 400px;
    justify-content: center;
 }

/*MEDIA QUERIES*/

@media(max-width: 768px) {
    header .navbar, header nav, header nav ul , body, .board, .hero, .board p {
        display: block;
        text-align: center;
        float: none;
        align-self: center;
        width: 100%;
    }

    body {
        display: block;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .board{
        margin: auto;
        width: 80%;
    }

    h1 {
        font-size: 20px;
    }

    .hero p, .sorry h1 {
        font-size: 60px;
    }
    
    .kikomando img {
        display: block;
        align-self: auto;
        width: 100%;
    }
}